* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #16ad15;
  --main-color-alt: #16ad15;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End-Small header */
.small-header {
  background-color: #474747;
  position: relative;
  height: 37px;
}
.support {
  display: flex;
  flex-wrap: wrap;
  color: white;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.support p {
  cursor: pointer;
  transition: 0.3s;
}
.support i {
  color: #3be33a;
}
@media (max-width: 767px) {
  .restore,
  .Fast,
  .safe,
  .phone {
    display: none;
  }
}
@media (max-width: 767px) {
  .support:first-child {
    width: 100%;
  }
}
.support p:hover {
  color: #3be33a;
  padding-left: 5px;
}
/* End-Small header */
.header {
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
.search {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.So {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
input {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #ddd;
}
@media (max-width: 767px) {
  .So input {
    display: none;
  }
}
@media (max-width: 767px) {
  .So {
    gap: 0;
  }
}

::placeholder {
  text-align: right;
}
.So h1 i {
  color: #16ad15;
  font-size: 30px;
}

.So button {
  height: 50px;
  width: 200px;
  color: #16ad15;
  background-color: white;
  border: solid 1px #16ad15;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .So i {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .So button {
    font-size: 15px;
    width: 100%;
  }
}
.So button:hover {
  color: white;
  background-color: #16ad15;
}
/* Start Section */
.selection {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  margin-top: 40px;
  gap: 30px;
}

img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}
.box-1 {
  height: 330px;
  border: solid 1px #ddd;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  width: 40%;
  border-radius: 5px;
}
.box-1 button {
  background-color: #16ad15;
  color: white;
  border: none;
  height: 50px;
  cursor: pointer;
  transition: var(--main-transition);
  line-height: normal;
  border-radius: 5px;
}
.box-1 p {
  margin: 0;
  line-height: 1.5;
}
.box-1 button:hover {
  background-color: #0d800d;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: -57px;
}
.select p {
  color: #0d800d;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}
.box-2 {
  width: 60%;
  height: 330px;
}
@media (max-width: 767px) {
  .selection {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .box-1 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .box-2 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .box-2 img {
    width: 100%;
  }
}
/* End Section */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  direction: rtl;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #474747;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
